<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav-main" mode="side" [opened]="true">
    <div class="logo-container">LOGO</div>
    <ul class="side-menu">
      <li routerLink="dashboard" routerLinkActive="router-link-active">
        <mat-icon>perm_identity</mat-icon>Dashboard
      </li>
      <li routerLink="user" routerLinkActive="router-link-active">
        <mat-icon>fact_check</mat-icon>User
      </li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-icon class="btn-menu" (click)="drawer.toggle()">menu</mat-icon>

      <span>Simple CRM</span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-drawer-container>
