.mat-drawer-container {
  height: 100vh;
}

.btn-menu {
  margin-right: 16px;
  cursor: pointer;
}

.btn-menu:hover {
  filter: drop-shadow(0, 0, 8px, #fff);
}

.sidenav-main {
  width: 300px;

  padding: 8px 16px;
}
