<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p>Auto-resizing sidenav</p>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example user verified icon"
        >verified_user</mat-icon
      >
      <button type="button" mat-button (click)="drawer.toggle()">
        Toggle sidenav
      </button>
      <span>Simple CRM</span>
    </mat-toolbar>
  </div>
</mat-drawer-container>
